<template>
  <div class="mainContainer">
    <div class="topBar">
      <div class="topBarButton" style="background-color: #F44336;"></div>
      <div class="topBarButton" style="background-color: #FFC107;"></div>
      <div class="topBarButton" style="background-color: #4CAF50;"></div>
    </div>
    <div :style="'background-color:' + this.currentColor"
         class="accentBar">
    </div>
    <div class="colorContainer shaddow">
      <h2 class="darkText mb-0">Pick a Color</h2>
      <p class="darkText mt-1">The color you pick will be applied as a global <span
          :style="'color:' + this.currentColor" class="bold">colorsheme</span></p>
      <div @click="changeColor(color)" class="color" v-for="color in colors" :key="color"
           :style="'background-color:' + color"></div>
    </div>


    <h2 style="margin: 40px 0 5px 0">Basic Text with <span :style="'color:' + this.currentColor">Accent</span></h2>
    <span>Basic Button </span>
    <button :style="'background-color:' + this.currentColor">
      with Color
    </button>

    <p class="mt-6">A Basic Colorpicker by <span
        :style="'color:' + this.currentColor" class="bold">Julian Haugeneder</span></p>
    <p><a :style="'color:' + this.currentColor" href="https://medium.com/@JulianHaugeneder/change-your-sites-color-scheme-with-an-awesome-colorpicker-in-vue-js-3656afcff09c"> Medium Article</a> / <a
        :style="'color:' + this.currentColor" href="https://gitlab.com/julianhaugeneder/simplevuecolorpicker"> Gitlab Repo </a></p>


  </div>
</template>

<script>
export default {

  data() {
    return {
      currentColor: "#8BC34A",
      colors: [
        "#F44336", "#E91E63", "#673AB7", "#2196F3", "#4CAF50", "#8BC34A", "#FFC107"
      ]
    }
  },
  methods: {
    changeColor: function (color) {

      this.currentColor = color
      this.$cookies.set('theme', color) // or API Put etc...
    }
  },
  mounted() {
    this.currentColor = this.$cookies.get('theme'); // or API Get etc...
  }
}
</script>

<style>

a {

  text-decoration: none;
}

.mainContainer {
  width: 100%;
  height: 80vh;
  padding-top: 100px;
}

.shaddow {
  -webkit-box-shadow: 0px 14px 45px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 45px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 45px -6px rgba(0, 0, 0, 0.75);
}

.color {
  background-color: #F44336;
  width: 55px;
  height: 55px;
  border-radius: 5px;
  vertical-align: top;
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
  transition: 0.3s;
}

.color:hover {
  border-radius: 10px;
  opacity: 0.8;
}

.topBar {
  background: #2e3440;
  width: 800px;
  height: 30px;
  margin: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: auto
}

.topBarButton {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  margin-top: 7px;
  margin-left: 10px;
  float: left
}

.accentBar {
  width: 800px;
  height: 8px;
  margin: auto;
  overflow: auto
}

.colorContainer {
  background: #f5f5f5;
  width: 800px;
  height: 250px;
  margin: auto;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: auto
}

.darkText {
  color: #2e3440 !important;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-1 {
  margin-top: 10px;
}

.mt-6 {
  margin-top: 60px;
}

.bold {
  font-weight: bold;
}

button {
  border: none;
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
  color: white
}

</style>

